body{
    background-color: rgb(33, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

div .container{
    text-align: center;
}

.app-name{
    font-size: 70px;
    transition: .2s linear;
}

.row{
    text-align: center;
}

.heading{
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.addMovie{
    background-color: rgb(179, 179, 179);
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin: 5px;
    outline: none;
    padding: 14px;
    transition: .2s;
}

.addMovie:hover{
    background-color: rgb(29, 185, 84);
}

ul{
    list-style: none;
    text-align: left;
}

li{
    background-color: rgb(50, 50, 50);
    border-radius: 4px;
    font-size: 24px;
    margin: 5px;
    padding: 10px;
    position: relative;
    width: 91%;
}

a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.movie-name{
    color: white;
    font-size: 32px;
}

.director-name{
    color: rgb(214, 214, 214);
    font-size: 16px;
}

.movie-year{
    color: rgb(214, 214, 214);
    font-size: 16px;
}

.change-section{
    background-color: rgb(33, 33, 33);
    border: none;
    border-radius: 4px;
    color: gray;
    font-size: 24px;
    margin-right: 10px;
    outline: none;
    top: 0px;
}

.check{
    transition: .2s linear;
}

.cross{
    transition: .2s linear;
}

.check:hover{
    color: rgb(29, 185, 84);
}

.cross:hover{
    color: red;
}

.deleteButton{
    background-color: rgb(33, 33, 33);
    border: none;
    border-radius: 4px;
    color: gray;
    font-size: 16px;
    left: 652px;
    outline: none;
    position: absolute;
    bottom: 35px;
}

.deleteButton:hover{
    color: red;
}